* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid {
    padding: 0;
}

header, footer {
    background-color: #363636;
}

.option-list {
    list-style: none;
}

.options {
    color: white;
    text-decoration: none;
}

.options:hover {
    width: fit-content;
    cursor: pointer;
}

header {
    height: 10vh;
}

footer {
    height: 40vh;
}

main {
    height: 50vh;
    position: relative;
}

#player {
    height: 100px;
    background-image: url('./images/thanos.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px
}

.character {
    bottom: 0;
    position: absolute;
}

.obs {
    height: 65px;;
    width: 65px;
    right: 0;
    background-color: transparent;
}

.header-txt {
    font-size: 20px;
    color: white;
}

.cap {
    background-image: url('./images/cap.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.thor {
    background-image: url('./images/thor.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.star {
    background-image: url('./images/starlord.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.gam {
    background-image: url('./images/gam.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.scene {
    background-color: #e8e8e8;
}